.heading{
font-size: larger;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0px;
width: 100%;
background-color:lightcyan;
line-height:2;
}
.note{
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: larger;

}
#label{
    color:ivory;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    background-size: cover;
}

.button{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: antiquewhite;
}
h3{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: antiquewhite;
    width: 200px;
}

canvas{
    box-shadow: 5px,5px,5px,whitesmoke;
    border:10px;
    border-radius: 10px;
    margin-top: 90px;
}

.copy_right_footer{
    position:fixed;
    color:black;
   bottom:0px;
    width:100%;
    background-color:lightcyan;
    text-align:center;
    line-height:2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

